<div class="row">
    <div class="col-md-12">
        <div class="portlet-body">        
            <div class="row">
                <div class="col-md-6">                   
                    <div class="lineGraph graphContent">
                        <div class="row">
                            <div class="col-md-8">                                
                                <div class="legends">
                                    <div class="row legendsRow">
                                         <div class="col-md-6">                                             
                                             <div class="row">
                                                <div class="col-md-6 partner1Legend">&nbsp;</div>
                                                <div class="col-md-6 partner1Heading">Partner1</div>
                                             </div>
                                         </div>
                                         <div class="col-md-6">                                             
                                             <div class="row">
                                                <div class="col-md-6 partner2Legend"></div>
                                                <div class="col-md-6 partner2Heading">Partner2</div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="row legendsRow">
                                         <div class="col-md-6">                                             
                                             <div class="row">
                                                <div class="col-md-6 partner3Legend"></div>
                                                <div class="col-md-6 partner3Heading">Partner3</div>
                                             </div>
                                         </div>
                                         <div class="col-md-6">                                             
                                             <div class="row">
                                                <div class="col-md-6 partner4Legend"></div>
                                                <div class="col-md-6 partner4Heading">Partner4</div>
                                             </div>
                                         </div>
                                    </div>                                     
                                </div>                               
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="row graphContent">
                        <div class="col-md-12">
                            <div class="">
                                <img class="barChartImage" src="images/barChart.png"/>
                            </div> 
                        </div>
                        <div class="col-md-12">
                            <table class="table reportTable">
                                <tr>
                                    <th class="tableHeading no-border">Partner</th>
                                    <th class="tableHeading no-border">Installs</th>
                                    <th class="tableHeading no-border">Jobs</th>
                                    <th class="tableHeading no-border">etc..</th>
                                </tr>
                                <tr  class="graphTableRow">
                                    <td class="partner1Heading">
                                        partner1
                                    </td>
                                    <td class="tabletext">
                                        48
                                    </td>
                                    <td class="tabletext">
                                        888
                                    </td>
                                    <td class="tabletext">
                                        108
                                    </td>
                                </tr>
                                <tr class="graphTableRow">
                                    <td class="partner2Heading">
                                        partner2
                                    </td>
                                    <td class="tabletext">
                                        48
                                    </td>
                                    <td class="tabletext">
                                        888
                                    </td>
                                    <td class="tabletext">
                                        108
                                    </td>
                                </tr>
                                <tr class="graphTableRow">
                                    <td class="partner3Heading">
                                        partner3
                                    </td>
                                    <td class="tabletext">
                                        48
                                    </td>
                                    <td class="tabletext">
                                        888
                                    </td>
                                    <td class="tabletext">
                                        108
                                    </td>
                                </tr>
                                <tr>
                                    <td class="partner4Heading">
                                        partner4
                                    </td>
                                    <td class="tabletext">
                                        48
                                    </td>
                                    <td class="tabletext">
                                        888
                                    </td>
                                    <td class="tabletext">
                                        108
                                    </td>
                                </tr>                                
                            </table>
                        </div>
                    </div>                    
                </div>                  
            </div>          
                   
        </div>
    </div>
        
</div>
</div>
</div>
<script>
 

//************************************************************
// Data notice the structure
//************************************************************
var data =  [
    [{'x':0,'y':1},{'x':2,'y':5.5},{'x':4.5,'y':8},{'x':6,'y':7.5},{'x':7,'y':11},{'x':8,'y':5.5},{'x':9,'y':6.9},{'x':10,'y':3.5}],
    [{'x':1,'y':3},{'x':2,'y':7},{'x':3,'y':5.5},{'x':4,'y':5},{'x':6,'y':6.5},{'x':7,'y':8},{'x':8,'y':4},{'x':9,'y':5}],
    [{'x':1,'y':5},{'x':2,'y':3.7},{'x':3,'y':8.5},{'x':4,'y':10},{'x':6,'y':7.5},{'x':7,'y':8.2},{'x':8,'y':9},{'x':9,'y':6.5}],
    [{'x':1,'y':7},{'x':2,'y':8},{'x':3,'y':2},{'x':4,'y':3.9},{'x':5,'y':4.3},{'x':6,'y':5.5},{'x':7,'y':4.5},{'x':8,'y':4.2}]
];
 
var colors = [
    "#85CE81",
    "#6FD2F5",
    "#B658FF",
    "#FF5858"   
]
 
 
//************************************************************
// Create Margins and Axis and hook our zoom function
//************************************************************
var margin = {top: 20, right: 30, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;
    
var x = d3.scale.linear()
    .domain([0, 10])
    .range([0, width-450]);
 
var y = d3.scale.linear()
    .domain([-1, 12])
    .range([height, 0]);
    
var xAxis = d3.svg.axis()
    .scale(x)
    // .tickSize(-height)
    // .tickPadding(10)    
    // .tickSubdivide(true)    
    .orient("bottom");  
    
var yAxis = d3.svg.axis()
    .scale(y)
    // .tickPadding(10)
    // .tickSize(-width)
    // .tickSubdivide(true)    
    .orient("left");
    
var zoom = d3.behavior.zoom()
    .x(x)
    .y(y)
    .scaleExtent([1, 10])
    .on("zoom", zoomed);    
    
    
 
    
    
//************************************************************
// Generate our SVG object
//************************************************************  
var svg = d3.select(".lineGraph").append("svg")
    .call(zoom)
    .attr("width", width + margin.left + margin.right-450)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
 
svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
 
svg.append("g")
    .attr("class", "y axis")
    .call(yAxis);
 
svg.append("g")
    .attr("class", "y axis")
    .append("text")
    .attr("class", "axis-label")
    .attr("transform", "rotate(-90)")
    .attr("y", (-margin.left) + 10)
    .attr("x", -height/2)
    .text('Axis Label');    
 
svg.append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", width)
    .attr("height", height);
    
    
    
    
    
//************************************************************
// Create D3 line object and draw data on our SVG object
//************************************************************
var line = d3.svg.line()
    .interpolate("linear")  
    .x(function(d) { return x(d.x); })
    .y(function(d) { return y(d.y); });     
    
svg.selectAll('.line')
    .data(data)
    .enter()
    .append("path")
    .attr("class", "line")
    .attr("clip-path", "url(#clip)")
    .attr('stroke', function(d,i){          
        return colors[i%colors.length];
    })
    .attr("d", line);       
    
    
    
    
//************************************************************
// Draw points on SVG object based on the data given
//************************************************************
var points = svg.selectAll('.dots')
    .data(data)
    .enter()
    .append("g")
    .attr("class", "dots")
    .attr("clip-path", "url(#clip)");   
 
points.selectAll('.dot')
    .data(function(d, index){       
        var a = [];
        d.forEach(function(point,i){
            a.push({'index': index, 'point': point});
        });     
        return a;
    })
    .enter()
    .append('circle')
    .attr('class','dot')
    .attr("r", 8.5)
    .attr('fill', function(d,i){    
        return colors[d.index%colors.length];
    })  
    .attr("transform", function(d) { 
        return "translate(" + x(d.point.x) + "," + y(d.point.y) + ")"; }
    );   
    
    
//************************************************************
// Zoom specific updates
//************************************************************
function zoomed() {
    svg.select(".x.axis").call(xAxis);
    svg.select(".y.axis").call(yAxis);   
    svg.selectAll('path.line').attr('d', line);  
 
    points.selectAll('circle').attr("transform", function(d) { 
        return "translate(" + x(d.point.x) + "," + y(d.point.y) + ")"; }
    );  
}

//bar graph


var margin = {
    top: 25,
    right: 75,
    bottom: 85,
    left: 85
},
    w = 600 - margin.left - margin.right,
    h = 350 - margin.top - margin.bottom;
    console.log(w);
    console.log(h);
var padding = 10;

var colors = [
    ["partner1", "#85CE81"],
    ["partner2", "#6FD2F5"],
    ["partner3", "red"],
    ["partner4", "green"]   
];

var dataset = [{
    "keyword": "Installs",
    "partner1": 10,
    "partner2": 5, 
    "partner3":10,
    "partner4":3,
    "cpc": "14.11"
}, {
    "keyword": "Jobs",
    "partner1": 8,
    "partner2": 9, 
     "partner3":10,
    "partner4":3,
    "cpc": "12.53"
}, {
    "keyword": "clicks",
    "partner1": 6,
    "partner2": 3,
     "partner3":10,
    "partner4":3,
    "cpc": "6.14"
}];

var xScale = d3.scale.ordinal()
    .domain(d3.range(dataset.length))
    .rangeRoundBands([0, w], 0.05);
// ternary operator to determine if global or local has a larger scale
var yScale = d3.scale.linear()
    .domain([0, d3.max(dataset, function (d) {
    return (d.partner1 > d.partner2) ? d.partner1 : d.partner2;
})])
    .range([h, 0]);
var xAxis = d3.svg.axis()
    .scale(xScale)
    .tickFormat(function (d) {  
    return dataset[d].keyword;
})
    .orient("bottom");
var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left")
    .ticks(10);

var commaFormat = d3.format(',');

//SVG element
var svg = d3.select(".barGraph")
    .append("svg")
    .attr("width", w + margin.left + margin.right)
    .attr("height", h + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Graph Bars
var sets = svg.selectAll(".set")
    .data(dataset)
    .enter()
    .append("g")
    .attr("class", "set")
    .attr("transform", function (d, i) {
    return "translate(" + xScale(i) + ",0)";
});
console.log(xScale.rangeBand() / 4);
sets.append("rect")
    .attr("class", "partner1")
    .attr("width", xScale.rangeBand() / 4)
    .attr("y", function (d) {
    return yScale(d.partner1);
})
    .attr("x", xScale.rangeBand() / 4)
    .attr("height", function (d) {
    return h - yScale(d.partner1);
})
    .attr("fill", colors[0][1]);

sets.append("rect")
    .attr("class", "partner2")
    .attr("width", xScale.rangeBand() / 4)
    .attr("y", function (d) {
    return yScale(d.partner2);
})
    .attr("height", function (d) {
    return h - yScale(d.partner2);
})
    .attr("fill", colors[1][1]);





    // xAxis
    svg.append("g") // Add the X Axis
    .attr("class", "x axis")
        .attr("transform", "translate(0," + (h) + ")")
        .call(xAxis)
        .selectAll("text")
        .style("text-anchor", "end")
        .attr("dx", "-.8em")
        .attr("dy", ".15em")
        .attr("transform", function (d) {
        return "rotate(-25)";
    });
    // yAxis
    svg.append("g")
        .attr("class", "y axis")
        .attr("transform", "translate(0 ,0)")
        .call(yAxis);
    // xAxis label
    svg.append("text")
        .attr("transform", "translate(" + (w / 2) + " ," + (h + margin.bottom - 5) + ")")
        .style("text-anchor", "middle")
        .text("Keyword");
    //yAxis label
    svg.append("text")
        .attr("transform", "rotate(-90)")
        .attr("y", 0 - margin.left)
        .attr("x", 0 - (h / 2))
        .attr("dy", "1em")
        .style("text-anchor", "middle")
        .text("# of Searches");


</script>
<!-- END MAIN JS -->
